# Preparing the Data

In [1]:
cd

C:\Users\Rafael\Eco 797 - Final Code\Analysis

## March CPS 1964 - 2020

In [2]:
/*I obtain march CPS data (ASEC) for survey years 1964-2020 */

use "..\Data\cps"
describe
summarize

### Addressing missing observations

In [3]:
/*I address missing observations */

replace region=. if region==97
replace race=. if race== 999 // blank 
replace sex=. if sex ==0
replace ahrsworkt=. if ahrsworkt==999 // Missing
replace classwkr = . if inlist(classwkr, 99) // NIU, Missing
replace uhrsworkly = . if uhrsworkly == 999   // NIU, Missing
replace classwly=. if inlist(classwly, 00, 99) & inrange(year, 1964, 1975) // NIU, Missing/Unknown
replace classwly=. if classwly==0 & year>=1976 // ensuring year is not missing
replace wkswork1=. if wkswork1==0 & year>=1976
replace wkswork2 = . if inlist(wkswork2, 0, 9) // NIU, Missing data
replace fullpart = . if inlist(fullpart, 0, 9) // NIU, Unknown
replace educ=. if inlist(educ, 000, 999) // NIU or no schooling, NIU or blank, Missing/Unknown
replace higrade = . if inlist(higrade, 0, 999) // NIU, Missing/Unknown

replace incwage=. if incwage==99999998 & year==1964
replace incwage=. if incwage==99999999 & year>=1965 // N.I.U. (Not in Universe)/ Missing (1962-1966 only)
replace inclongj=. if inclongj==99999999
replace oincwage=. if oincwage==99999999

(218 real changes made, 218 to missing)

(0 real changes made)

(0 real changes made)

(5,238,255 real changes made, 5,238,255 to missing)

(21 real changes made, 21 to missing)

(3,817,871 real changes made, 3,817,871 to missing)

(706,126 real changes made, 706,126 to missing)

(3,817,862 real changes made, 3,817,862 to missing)

(3,817,871 real changes made, 3,817,871 to missing)

(4,523,997 real changes made, 4,523,997 to missing)

(4,524,000 real changes made, 4,524,000 to missing)

(9 real changes made, 9 to missing)

(900,643 real changes made, 900,643 to missing)

(4 real changes made, 4 to missing)

(2,150,737 real changes made, 2,150,737 to missing)

(1,392,818 real changes made, 1,392,818 to missing)

(1,392,818 real changes made, 1,392,818 to missing)

### Full time, full-year workers
#### FTFY, defined as as those who work 35 hours per week, and forty-plus weeks in the prior year.

In [4]:
/* FTFY, defined as as those who work 35-plus hours per week, and forty-plus weeks in the prior year. 

I create a variable for full time workers defined as as those who work 35-plus hours per week in 
the last year. */

gen fulltime = fullpart == 1 
label value fulltime FULLTIME
label variable fulltime "usually worked 35+ hours per week last year"

/* I create a variable for workers who worked forty-plus weeks in the prior year (fullyear). We note
that from 1964 to 1975, weeks worked last year (wkswork1) were not recorded, but were recorde in an 
intervalled manner, in variable (wkswork2) and so we impute these values from wkswork2 1964 to 1975. */ 

tabstat wkswork1 if year>=1976 [w=asecwt], by(wkswork2) statistics(mean) format(%8.2fc) save
return list
  scalar m1=r(Stat1)[1,1]
  scalar m2=r(Stat2)[1,1]
  scalar m3=r(Stat3)[1,1]
  scalar m4=r(Stat4)[1,1]
  scalar m5=r(Stat5)[1,1]
  scalar m6=r(Stat6)[1,1]
  
  replace wkswork1=m1 if wkswork2==1 & year<=1975
  replace wkswork1=m2 if wkswork2==2 & year<=1975
  replace wkswork1=m3 if wkswork2==3 & year<=1975
  replace wkswork1=m4 if wkswork2==4 & year<=1975
  replace wkswork1=m5 if wkswork2==5 & year<=1975
  replace wkswork1=m6 if wkswork2==6 & year<=1975


  tab year wkswork1 if year<=1975
  
  scalar drop _all

gen fullyear = wkswork1 >= 40 & wkswork1 <= 52  
label value fullyear FULYEAR
label variable fullyear  "workers~40-plus weeks worked"

(analytic weights assumed)

Summary for variables: wkswork1
     by categories of: wkswork2 (weeks worked last year, intervalled)

    wkswork2 |      mean
-------------+----------
  1-13 weeks |      7.99
 14-26 weeks |     21.56
 27-39 weeks |     33.46
 40-47 weeks |     42.50
 48-49 weeks |     48.25
 50-52 weeks |     51.93
-------------+----------
       Total |     45.24
------------------------


macros:
              r(name6) : "50-52 weeks"
              r(name5) : "48-49 weeks"
              r(name4) : "40-47 weeks"
              r(name3) : "27-39 weeks"
              r(name2) : "14-26 weeks"
              r(name1) : "1-13 weeks"

matrices:
              r(Stat6) :  1 x 1
              r(Stat5) :  1 x 1
              r(Stat4) :  1 x 1
              r(Stat3) :  1 x 1
              r(Stat2) :  1 x 1
              r(Stat1) :  1 x 1
          r(StatTotal) :  1 x 1







variable wkswork1 was byte now float
(83,277 real changes made)

(65,850 real changes made)

(54,336 real changes made)

(42,981 real changes made)

(21,398 real changes made)

(448,473 real changes made)


    survey |                 weeks worked last year
      year |   7.98555   21.56469   33.45646    42.5027   48.25431 |     Total
-----------+-------------------------------------------------------+----------
      1964 |     3,991      2,881      2,564      2,071      1,062 |    32,479
      1965 |     3,955      2,976      2,636      2,087      1,032 |    32,754
      1966 |     8,405      6,068      5,225      4,099      2,221 |    69,470
      1967 |     5,358      3,972      3,103      2,495      1,281 |    44,154
      1968 |     8,391      6,120      5,103      3,906      2,103 |    70,242
      1969 |     8,656      6,224      5,048      4,329      2,217 |    71,677
      1970 |     8,018      6,059      4,995      4,118      2,110 |    67,974
      1971 |     8,158      6,524      5,525      4,349      2,061 |    68,783
      1972 |     7,570      6,345      5,209      3,893      1,906 |    65,920
      1973 |     7,022      6,523      4,888      3,762      1,804 |    64,674
      1974 |     7,185      6,251      4,885      3,882      1,810 |    64,715
      1975 |     6,568      5,907      5,155      3,990      1,791 |    63,473
-----------+-------------------------------------------------------+----------
     Total |    83,277     65,850     54,336     42,981     21,398 |   716,315


           |   weeks
           |   worked
    survey | last year
      year |  51.93324 |     Total
-----------+-----------+----------
      1964 |    19,910 |    32,479
      1965 |    20,068 |    32,754
      1966 |    43,452 |    69,470
      1967 |    27,945 |    44,154
      1968 |    44,619 |    70,242
      1969 |    45,203 |    71,677
      1970 |    42,674 |    67,974
      1971 |    42,166 |    68,783
      1972 |    40,997 |    65,920
      1973 |    40,675 |    64,674
      1974 |    40,702 |    64,715
      1975 |    40,062 |    63,473
-----------+-----------+----------
     Total |   448,473 |   716,315

###  Drop armed forces and children,  topcoded age

In [5]:
/* Individuals in the armed forces are dropped, I keep individuals who are at least 
17 years of age (during the earning year they were 16) and worked 1 to 52 weeks */

keep if popstat==1 & wkswork1 >= 1 & wkswork1 <= 52 & age >=17 

/* age is top coded at 90 or 99 through the years, I create a consistent measure */

replace age=90 if age >90

(4,642,365 observations deleted)

(107 real changes made)

### Generate Region variables, Sex and Race dummies

In [6]:
/* We create region dummies */ 

gen northeast = region == 11 | region ==12
gen midwest = region == 21 | region == 22
gen south = region == 31 | region == 32 | region == 33
gen west = region == 41 | region == 42 


/* Race dummies */

generate black = (race ==200)
label value black BLACK
label variable black "black race"


generate white = (race ==100)
label value white WHITE
label variable white "white race"

generate other_race = race >=300
label value other_race OTHER_RACE
label variable other_race "other race"


/* Sex dummies */
generate female = (sex==2)
label value female FEMALE
label variable female "female"

#### Before we select workers from 0 to 39 years of experience, we recode for education.

### Recoding Education

We first recode the education variable educ to create the variable grade, which measures highest grade completed. We use Park (1994) to obtain our experience variable.

In [7]:
/* Recode grade variable */
*drop if educ == .
generate grade=.
*** 1964-1991
  replace grade=0  if educ==2 & year<=1991 // none or preschool
  replace grade=1  if educ==11 & year<=1991 // grade 1
  replace grade=2  if educ==12 & year<=1991 // grade 2
  replace grade=3  if educ==13 & year<=1991 // grade 3
  replace grade=4  if educ==14 & year<=1991 // grade 4
  replace grade=5  if educ==21 & year<=1991 // grade 5
  replace grade=6  if educ==22 & year<=1991 // grade 6
  replace grade=7  if educ==31 & year<=1991 // grade 7
  replace grade=8  if educ==32 & year<=1991 // grade 8 
  replace grade=9  if educ==40 & year<=1991 // grade 9
  replace grade=10 if educ==50 & year<=1991 // grade 10
  replace grade=11 if educ==60 & year<=1991 // grade 11
  replace grade=12 if (educ==72 | educ==73) & year<=1991 // 12th grade, diploma unclear, high school diploma
  replace grade=13 if educ==80 & year<=1991 // 1 year of college
  replace grade=14 if educ==90 & year<=1991 // 2 years of college
  replace grade=15 if educ==100 & year<=1991 // 3 years of college
  replace grade=16 if educ==110 & year<=1991 // 4 years of college
  replace grade=17 if educ==121 & year<=1991 // 5 years of college
  replace grade=18 if educ==122 & year<=1991 // 6 years of college or more

** We have to add (Park 1994) values to calculate experience

* men, white
replace grade = .32  if (white==1 & female==0 & educ==1 | educ == 2) & year>=1992
replace grade = 3.19 if (white==1 & female==0 & educ ==10) & year>=1992
replace grade = 7.24 if (white==1 & female==0 & (educ ==20 | educ==30)) & year>=1992
replace grade = 8.97 if (white==1 & female==0 & educ == 40) & year>=1992
replace grade = 9.92 if (white==1 & female==0 & educ == 50) & year>=1992
replace grade = 10.86 if (white==1 & female==0 & educ ==60) & year>=1992
replace grade = 11.58 if (white==1 & female==0 & educ ==71) & year>=1992
replace grade = 11.99 if (white==1 & female==0 & educ ==73) & year>=1992
replace grade = 13.48 if (white==1 & female==0 & educ ==81) & year>=1992
replace grade = 14.23 if (white==1 & female==0 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.17 if (white==1 & female==0 & educ ==111) & year>=1992
replace grade = 17.68 if (white==1 & female==0 & educ ==123) & year>=1992
replace grade = 17.71 if (white==1 & female==0 & educ ==124) & year>=1992
replace grade = 17.83 if (white==1 & female==0 & educ ==125) & year>=1992


* female, white
replace grade = 0.62 if (white==1 & female==1 & educ==1 | educ == 2) & year>=1992
replace grade = 3.15 if (white==1 & female==1 & educ ==10) & year>=1992
replace grade = 7.23 if (white==1 & female==1 & (educ ==20 | educ==30)) & year>=1992
replace grade = 8.99 if (white==1 & female==1 & educ == 40) & year>=1992
replace grade = 9.95 if (white==1 & female==1 & educ == 50) & year>=1992
replace grade = 10.87 if (white==1 & female==1 & educ ==60) & year>=1992
replace grade = 11.73 if (white==1 & female==1 & educ ==71) & year>=1992
replace grade = 12.00 if (white==1 & female==1 & educ ==73) & year>=1992
replace grade = 13.35 if (white==1 & female==1 & educ ==81) & year>=1992
replace grade = 14.22 if (white==1 & female==1 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.15 if (white==1 & female==1 & educ ==111) & year>=1992
replace grade = 17.64 if (white==1 & female==1 & educ ==123) & year>=1992
replace grade = 17.00 if (white==1 & female==1 & educ ==124) & year>=1992
replace grade = 17.76 if (white==1 & female==1 & educ ==125) & year>=1992

* men, black
replace grade = .92  if (black==1 & female==0  & educ==1 | educ == 2) & year>=1992
replace grade = 3.28 if (black==1 & female==0 & educ ==10) & year>=1992
replace grade = 7.04 if (black==1 & female==0 & (educ ==20 | educ==30)) & year>=1992
replace grade = 9.02 if (black==1 & female==0 & educ == 40) & year>=1992
replace grade = 9.91 if (black==1 & female==0 & educ == 50) & year>=1992
replace grade = 10.90 if (black==1 & female==0 & educ ==60) & year>=1992
replace grade = 11.41 if (black==1 & female==0 & educ ==71) & year>=1992
replace grade = 11.98 if (black==1 & female==0 & educ ==73) & year>=1992
replace grade = 13.57 if (black==1 & female==0 & educ ==81) & year>=1992
replace grade = 14.33 if (black==1 & female==0 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.13 if (black==1 & female==0 & educ ==111) & year>=1992
replace grade = 17.51 if (black==1 & female==0 & educ ==123) & year>=1992
replace grade = 17.83 if (black==1 & female==0 & educ ==124) & year>=1992
replace grade = 18.00 if (black==1 & female==0 & educ ==125) & year>=1992

* female, black
replace grade = 0.00 if (black==1 & female==1 & educ==1 | educ == 2) & year>=1992
replace grade = 2.90 if (black==1 & female==1 & educ ==10) & year>=1992
replace grade = 7.03 if (black==1 & female==1 & (educ ==20 | educ==30)) & year>=1992
replace grade = 9.05 if (black==1 & female==1 & educ == 40) & year>=1992
replace grade = 9.99 if (black==1 & female==1 & educ == 50) & year>=1992
replace grade = 10.85 if (black==1 & female==1 & educ ==60) & year>=1992
replace grade = 11.64 if (black==1 & female==1 & educ ==71) & year>=1992
replace grade = 12.00 if (black==1 & female==1 & educ ==73) & year>=1992
replace grade = 13.43 if (black==1 & female==1 & educ ==81) & year>=1992
replace grade = 14.33 if (black==1 & female==1 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.04 if (black==1 & female==1 & educ ==111) & year>=1992
replace grade = 17.69 if (black==1 & female==1 & educ ==123) & year>=1992
replace grade = 17.40 if (black==1 & female==1 & educ ==124) & year>=1992
replace grade = 18.00 if (black==1 & female==1 & educ ==125) & year>=1992

* men, other
replace grade = .62  if (other_race==1 & female==0 & educ==1 | educ == 2) & year>=1992
replace grade = 3.24 if (other_race==1 & female==0 & educ ==10) & year>=1992
replace grade = 7.14 if (other_race==1 & female==0 & (educ ==20 | educ==30)) & year>=1992
replace grade = 9.00 if (other_race==1 & female==0 & educ == 40) & year>=1992
replace grade = 9.92 if (other_race==1 & female==0 & educ == 50) & year>=1992
replace grade = 10.88 if (other_race==1 & female==0 & educ ==60) & year>=1992
replace grade = 11.50 if (other_race==1 & female==0 & educ ==71) & year>=1992
replace grade = 11.99 if (other_race==1 & female==0 & educ ==73) & year>=1992
replace grade = 13.53 if (other_race==1 & female==0 & educ ==81) & year>=1992
replace grade = 14.28 if (other_race==1 & female==0 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.15 if (other_race==1 & female==0 & educ ==111) & year>=1992
replace grade = 17.60 if (other_race==1 & female==0 & educ ==123) & year>=1992
replace grade = 17.77 if (other_race==1 & female==0 & educ ==124) & year>=1992
replace grade = 17.92 if (other_race==1 & female==0 & educ ==125) & year>=1992

* female, other
replace grade = 0.31 if (other_race==1 & female==1 & educ==1 | educ == 2) & year>=1992
replace grade = 3.03 if (other_race==1 & female==1 & educ ==10) & year>=1992
replace grade = 7.13 if (other_race==1 & female==1 & (educ ==20 | educ==30)) & year>=1992
replace grade = 9.02 if (other_race==1 & female==1 & educ == 40) & year>=1992
replace grade = 9.97 if (other_race==1 & female==1 & educ == 50) & year>=1992
replace grade = 10.86 if (other_race==1 & female==1 & educ ==60) & year>=1992
replace grade = 11.69 if (other_race==1 & female==1 & educ ==71) & year>=1992
replace grade = 12.00 if (other_race==1 & female==1 & educ ==73) & year>=1992
replace grade = 13.47 if (other_race==1 & female==1 & educ ==81) & year>=1992
replace grade = 14.28 if (other_race==1 & female==1 & (educ ==91 | educ==92)) & year>=1992
replace grade = 16.10 if (other_race==1 & female==1 & educ ==111) & year>=1992
replace grade = 17.67 if (other_race==1 & female==1 & educ ==123) & year>=1992
replace grade = 17.20 if (other_race==1 & female==1 & educ ==124) & year>=1992
replace grade = 17.88 if (other_race==1 & female==1 & educ ==125) & year>=1992

** We label grade
  label value grade GRADE
  label variable grade  "highest grade completed"

(4,611,418 missing values generated)

(7,040 real changes made)

(2,315 real changes made)

(5,233 real changes made)

(8,982 real changes made)

(11,662 real changes made)

(14,462 real changes made)

(28,717 real changes made)

(33,300 real changes made)

(109,270 real changes made)

(74,126 real changes made)

(111,630 real changes made)

(114,818 real changes made)

(762,708 real changes made)

(131,233 real changes made)

(148,788 real changes made)

(60,725 real changes made)

(196,132 real changes made)

(42,019 real changes made)

(93,327 real changes made)

(5,317 real changes made)

(8,837 real changes made)

(40,960 real changes made)

(20,236 real changes made)

(28,931 real changes made)

(39,838 real changes made)

(16,359 real changes made)

(349,960 real changes made)

(211,207 real changes made)

(95,897 real changes made)

(217,660 real changes made)

(75,702 real changes made)

(23,084 real changes made)

(19,932 real changes made)

(5,317 real changes made)

(4,404 real changes made)

(21,548 real changes made)

(12,187 real changes made)

(19,722 real changes made)

(30,534 real changes made)

(10,591 real changes made)

(288,997 real changes made)

(210,542 real changes made)

(112,458 real changes made)

(209,569 real changes made)

(83,040 real changes made)

(11,679 real changes made)

(10,886 real changes made)

(5,317 real changes made)

(511 real changes made)

(2,548 real changes made)

(1,697 real changes made)

(3,445 real changes made)

(5,536 real changes made)

(2,634 real changes made)

(43,782 real changes made)

(25,897 real changes made)

(9,290 real changes made)

(16,502 real changes made)

(5,606 real changes made)

(1,063 real changes made)

(1,098 real changes made)

(5,317 real changes made)

(321 real changes made)

(1,979 real changes made)

(1,538 real changes made)

(3,578 real changes made)

(6,297 real changes made)

(2,635 real changes made)

(47,084 real changes made)

(35,320 real changes made)

(14,920 real changes made)

(22,912 real changes made)

(9,475 real changes made)

(1,237 real changes made)

(1,062 real changes made)

(5,317 real changes made)

(718 real changes made)

(2,732 real changes made)

(1,411 real changes made)

(2,116 real changes made)

(3,171 real changes made)

(1,625 real changes made)

(26,952 real changes made)

(18,237 real changes made)

(8,092 real changes made)

(23,923 real changes made)

(10,957 real changes made)

(2,540 real changes made)

(3,789 real changes made)

(5,317 real changes made)

(545 real changes made)

(2,568 real changes made)

(1,177 real changes made)

(1,789 real changes made)

(2,415 real changes made)

(1,274 real changes made)

(24,172 real changes made)

(18,738 real changes made)

(9,361 real changes made)

(25,317 real changes made)

(9,230 real changes made)

(1,933 real changes made)

(2,096 real changes made)

### Generate  experience variable

In [8]:
/*Generate experience variable */ 

gen experience = max(age-grade-7,0) if year <= 1991
replace experience = max(min(age-grade-7,age-17),0) if year >=1992
label value experience EXPERIENCE
label variable experience "experience"

(2,654,922 missing values generated)

(2,654,922 real changes made)

### Genearte Educational categories

In [9]:
/* Generate educational categories according to AKK 2008 5 schooling categories */

drop if educ ==.
generate schooling1 = educ <= 60 if year <=1991 // high school dropout
generate schooling2 = educ == 72 if year <=1991 // high school diploma
generate schooling3 = (educ >= 80 & educ <= 100) | educ ==73 if year <=1991  // some college 
generate schooling4 =  (educ==110 | educ==121) if year <=1991 // college graduate
generate schooling5 =  educ >= 122 if year <=1991 // post-college

replace schooling1 =  educ <= 60 if year >=1992 // high school dropout
replace schooling2 =  (educ==71 | educ==73) if year >=1992 // high school diploma
replace schooling3 =  (educ >= 81 & educ <= 92) if year >=1992  // some college 
replace schooling4 =  educ == 111 if year >=1992 // college graduate 
replace schooling5 =  educ >=123 if year >=1992 // post-college

assert schooling1 + schooling2 + schooling3 + schooling4 + schooling5 == 1

gen schooling = schooling1 + 2*schooling2 + 3*schooling3 + 4*schooling4 + 5*schooling5
label define schooling 1 "HS Dropout" 2 "HS Diploma" 3 "Some College" 4 "College Grad" 5 "College-Plus"
label value schooling SCHOOLING
assert schooling > 0 

tab schooling

(9 observations deleted)

(2,654,922 missing values generated)

(2,654,922 missing values generated)

(2,654,922 missing values generated)

(2,654,922 missing values generated)

(2,654,922 missing values generated)

(2,654,922 real changes made)

(2,654,922 real changes made)

(2,654,922 real changes made)

(2,654,922 real changes made)

(2,654,922 real changes made)







  schooling |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |    800,161       17.35       17.35
          2 |  1,503,748       32.61       49.96
          3 |  1,185,730       25.71       75.67
          4 |    754,034       16.35       92.03
          5 |    367,736        7.97      100.00
------------+-----------------------------------
      Total |  4,611,409      100.00

### Top code hours

In [10]:
/* Top code hours */

replace ahrsworkt = 0 if ahrsworkt == 99 & inrange(year, 1964, 1967)
replace ahrsworkt = 98 if ahrsworkt == 99 & inrange(year, 1968, 2020)
replace uhrsworkly = 98 if uhrsworkly == 99 & inrange(year, 1968, 2020)

(0 real changes made)

(9,890 real changes made)

(6,963 real changes made)

### Impute missing hours for ahrsworkt

In [11]:
/*Exclude negative weights. */
keep if asecwt >=0 & asecwt~=.


/* Impute missing hours for ahrswort from 1964 to 1975, based on sex, fulltime/partime statu, 
According to Katz and Murphy (1992) */

egen sex_fullpart_year = group(female fullpart year) if year <=1975, label


tabstat ahrsworkt if year <= 1975 [w=asecwt], by (sex_fullpart_year) statistics(mean) format(%8.2fc) save
return list
scalar m1=r(Stat1)[1,1]
scalar m2=r(Stat2)[1,1]
scalar m3=r(Stat3)[1,1]
scalar m4=r(Stat4)[1,1]
scalar m5=r(Stat5)[1,1]
scalar m6=r(Stat6)[1,1]
scalar m7=r(Stat7)[1,1]
scalar m8=r(Stat8)[1,1]
scalar m9=r(Stat9)[1,1]
scalar m10=r(Stat10)[1,1]
scalar m11=r(Stat11)[1,1]
scalar m12=r(Stat12)[1,1]
scalar m13=r(Stat13)[1,1]
scalar m14=r(Stat14)[1,1]
scalar m15=r(Stat15)[1,1]
scalar m16=r(Stat16)[1,1]
scalar m17=r(Stat17)[1,1]
scalar m18=r(Stat18)[1,1]
scalar m19=r(Stat19)[1,1]
scalar m20=r(Stat20)[1,1]
scalar m21=r(Stat21)[1,1]
scalar m22=r(Stat22)[1,1]
scalar m23=r(Stat23)[1,1]
scalar m24=r(Stat24)[1,1]
scalar m25=r(Stat25)[1,1]
scalar m26=r(Stat26)[1,1]
scalar m27=r(Stat27)[1,1]
scalar m28=r(Stat28)[1,1]
scalar m29=r(Stat29)[1,1]
scalar m30=r(Stat30)[1,1]
scalar m31=r(Stat31)[1,1]
scalar m32=r(Stat32)[1,1]
scalar m33=r(Stat33)[1,1]
scalar m34=r(Stat34)[1,1]
scalar m35=r(Stat35)[1,1]
scalar m36=r(Stat36)[1,1]
scalar m37=r(Stat37)[1,1]
scalar m38=r(Stat38)[1,1]
scalar m39=r(Stat39)[1,1]
scalar m40=r(Stat40)[1,1]
scalar m41=r(Stat41)[1,1]
scalar m42=r(Stat42)[1,1]
scalar m43=r(Stat43)[1,1]
scalar m44=r(Stat44)[1,1]
scalar m45=r(Stat45)[1,1]
scalar m46=r(Stat46)[1,1]
scalar m47=r(Stat47)[1,1]
scalar m48=r(Stat48)[1,1]

*** Males-Fulltime
replace ahrsworkt=m1 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1964
replace ahrsworkt=m2 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1965
replace ahrsworkt=m3 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1966
replace ahrsworkt=m4 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1967
replace ahrsworkt=m5 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1968
replace ahrsworkt=m6 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1969
replace ahrsworkt=m7 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1970
replace ahrsworkt=m8 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1971
replace ahrsworkt=m9 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1972
replace ahrsworkt=m10 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1973
replace ahrsworkt=m11 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1974
replace ahrsworkt=m12 if ahrsworkt == . & female==0 & fullpart == 1 & year ==1975

*** Males-Partime
replace ahrsworkt=m13 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1964
replace ahrsworkt=m14 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1965
replace ahrsworkt=m15 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1966
replace ahrsworkt=m16 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1967
replace ahrsworkt=m17 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1968
replace ahrsworkt=m18 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1969
replace ahrsworkt=m19 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1970
replace ahrsworkt=m20 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1971
replace ahrsworkt=m21 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1972
replace ahrsworkt=m22 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1973
replace ahrsworkt=m23 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1974
replace ahrsworkt=m24 if ahrsworkt == . & female==0 & fullpart == 2 & year ==1975

*** Females-Fulltime
replace ahrsworkt=m25 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1964
replace ahrsworkt=m26 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1965
replace ahrsworkt=m27 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1966
replace ahrsworkt=m28 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1967
replace ahrsworkt=m29 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1968
replace ahrsworkt=m30 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1969
replace ahrsworkt=m31 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1970
replace ahrsworkt=m32 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1971
replace ahrsworkt=m33 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1972
replace ahrsworkt=m34 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1973
replace ahrsworkt=m35 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1974
replace ahrsworkt=m36 if ahrsworkt == . & female==1 & fullpart == 1 & year ==1975

*** Females-Partime
replace ahrsworkt=m37 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1964
replace ahrsworkt=m38 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1965
replace ahrsworkt=m39 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1966
replace ahrsworkt=m40 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1967
replace ahrsworkt=m41 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1968
replace ahrsworkt=m42 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1969
replace ahrsworkt=m43 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1970
replace ahrsworkt=m44 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1971
replace ahrsworkt=m45 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1972
replace ahrsworkt=m46 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1973
replace ahrsworkt=m47 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1974
replace ahrsworkt=m48 if ahrsworkt == . & female==1 & fullpart == 2 & year ==1975

(348 observations deleted)

(3,927,490 missing values generated)

(analytic weights assumed)

Summary for variables: ahrsworkt
     by categories of: sex_fullpart_year (group(female fullpart year))

sex_fullpart_year |      mean
------------------+----------
 0 full-time 1964 |     45.03
 0 full-time 1965 |     45.16
 0 full-time 1966 |     45.41
 0 full-time 1967 |     44.96
 0 full-time 1968 |     44.80
 0 full-time 1969 |     44.67
 0 full-time 1970 |     44.59
 0 full-time 1971 |     44.30
 0 full-time 1972 |     44.54
 0 full-time 1973 |     44.53
 0 full-time 1974 |     44.20
 0 full-time 1975 |     43.46
 0 part-time 1964 |     24.90
 0 part-time 1965 |     23.55
 0 part-time 1966 |     25.35
 0 part-time 1967 |     25.38
 0 part-time 1968 |     25.50
 0 part-time 1969 |     24.36
 0 part-time 1970 |     22.25
 0 part-time 1971 |     22.90
 0 part-time 1972 |     23.78
 0 part-time 1973 |     24.03
 0 part-time 1974 |     24.44
 0 part-time 1975 |     23.03
 1 full-time 1964 |     40.00
 1 full-time 1965 |     40.06
 1 full-time 1966 |     39.87
 1 full-time 1967 |     39.30
 1 full-time 1968 |     39.01
 1 full-time 1969 |     39.13
 1 full-time 1970 |     39.33
 1 full-time 1971 |     39.22
 1 full-time 1972 |     39.32
 1 full-time 1973 |     39.25
 1 full-time 1974 |     39.11
 1 full-time 1975 |     38.79
 1 part-time 1964 |     21.89
 1 part-time 1965 |     21.67
 1 part-time 1966 |     23.01
 1 part-time 1967 |     23.12
 1 part-time 1968 |     22.65
 1 part-time 1969 |     22.70
 1 part-time 1970 |     21.17
 1 part-time 1971 |     20.79
 1 part-time 1972 |     21.99
 1 part-time 1973 |     21.82
 1 part-time 1974 |     22.07
 1 part-time 1975 |     21.85
------------------+----------
            Total |     40.11
-----------------------------


macros:
             r(name48) : "1 part-time 1975"
             r(name47) : "1 part-time 1974"
             r(name46) : "1 part-time 1973"
             r(name45) : "1 part-time 1972"
             r(name44) : "1 part-time 1971"
             r(name43) : "1 part-time 1970"
             r(name42) : "1 part-time 1969"
             r(name41) : "1 part-time 1968"
             r(name40) : "1 part-time 1967"
             r(name39) : "1 part-time 1966"
             r(name38) : "1 part-time 1965"
             r(name37) : "1 part-time 1964"
             r(name36) : "1 full-time 1975"
             r(name35) : "1 full-time 1974"
             r(name34) : "1 full-time 1973"
             r(name33) : "1 full-time 1972"
             r(name32) : "1 full-time 1971"
             r(name31) : "1 full-time 1970"
             r(name30) : "1 full-time 1969"
             r(name29) : "1 full-time 1968"
             r(name28) : "1 full-time 1967"
             r(name27) : "1 full-time 1966"
             r(name26) : "1 full-time 1965"
             r(name25) : "1 full-time 1964"
             r(name24) : "0 part-time 1975"
             r(name23) : "0 part-time 1974"
             r(name22) : "0 part-time 1973"
             r(name21) : "0 part-time 1972"
             r(name20) : "0 part-time 1971"
             r(name19) : "0 part-time 1970"
             r(name18) : "0 part-time 1969"
             r(name17) : "0 part-time 1968"
             r(name16) : "0 part-time 1967"
             r(name15) : "0 part-time 1966"
             r(name14) : "0 part-time 1965"
             r(name13) : "0 part-time 1964"
             r(name12) : "0 full-time 1975"
             r(name11) : "0 full-time 1974"
             r(name10) : "0 full-time 1973"
              r(name9) : "0 full-time 1972"
              r(name8) : "0 full-time 1971"
              r(name7) : "0 full-time 1970"
              r(name6) : "0 full-time 1969"
              r(name5) : "0 full-time 1968"
              r(name4) : "0 full-time 1967"
              r(name3) : "0 full-time 1966"
              r(name2) : "0 full-time 1965"
              r(name1) : "0 full-time 1964"

matrices:
             r(Stat48) :  1 x 1
             r(Stat47) :  1 x 1
             r(Stat46) :  1 x 1
             r(Stat45) :  1 x 1
             r(Stat44) :  1 x 1
             r(Stat43) :  1 x 1
             r(Stat42) :  1 x 1
             r(Stat41) :  1 x 1
             r(Stat40) :  1 x 1
             r(Stat39) :  1 x 1
             r(Stat38) :  1 x 1
             r(Stat37) :  1 x 1
             r(Stat36) :  1 x 1
             r(Stat35) :  1 x 1
             r(Stat34) :  1 x 1
             r(Stat33) :  1 x 1
             r(Stat32) :  1 x 1
             r(Stat31) :  1 x 1
             r(Stat30) :  1 x 1
             r(Stat29) :  1 x 1
             r(Stat28) :  1 x 1
             r(Stat27) :  1 x 1
             r(Stat26) :  1 x 1
             r(Stat25) :  1 x 1
             r(Stat24) :  1 x 1
             r(Stat23) :  1 x 1
             r(Stat22) :  1 x 1
             r(Stat21) :  1 x 1
             r(Stat20) :  1 x 1
             r(Stat19) :  1 x 1
             r(Stat18) :  1 x 1
             r(Stat17) :  1 x 1
             r(Stat16) :  1 x 1
             r(Stat15) :  1 x 1
             r(Stat14) :  1 x 1
             r(Stat13) :  1 x 1
             r(Stat12) :  1 x 1
             r(Stat11) :  1 x 1
             r(Stat10) :  1 x 1
              r(Stat9) :  1 x 1
              r(Stat8) :  1 x 1
              r(Stat7) :  1 x 1
              r(Stat6) :  1 x 1
              r(Stat5) :  1 x 1
              r(Stat4) :  1 x 1
              r(Stat3) :  1 x 1
              r(Stat2) :  1 x 1
              r(Stat1) :  1 x 1
          r(StatTotal) :  1 x 1

















































variable ahrsworkt was int now float
(1,903 real changes made)

(1,840 real changes made)

(3,738 real changes made)

(2,462 real changes made)

(4,067 real changes made)

(4,120 real changes made)

(4,009 real changes made)

(4,527 real changes made)

(4,212 real changes made)

(3,993 real changes made)

(4,088 real changes made)

(5,255 real changes made)

(819 real changes made)

(837 real changes made)

(1,589 real changes made)

(970 real changes made)

(1,680 real changes made)

(1,629 real changes made)

(1,532 real changes made)

(1,650 real changes made)

(1,517 real changes made)

(1,455 real changes made)

(1,553 real changes made)

(1,494 real changes made)

(1,938 real changes made)

(1,939 real changes made)

(4,321 real changes made)

(2,948 real changes made)

(4,640 real changes made)

(4,839 real changes made)

(4,532 real changes made)

(4,545 real changes made)

(4,036 real changes made)

(3,954 real changes made)

(4,050 real changes made)

(4,443 real changes made)

(1,712 real changes made)

(1,756 real changes made)

(3,461 real changes made)

(2,279 real changes made)

(3,437 real changes made)

(3,494 real changes made)

(3,192 real changes made)

(3,546 real changes made)

(3,203 real changes made)

(2,923 real changes made)

(3,121 real changes made)

(3,163 real changes made)

### Generate hours worked per week last year

In [12]:
/* Generate hours worked per week last year */

generate weekly_hours_workedly = ahrsworkt if inrange(year, 1964, 1975)
replace weekly_hours_workedly = uhrsworkly if inrange(year, 1976, 2020)
label value weekly_hours_workedly HOURSWLY
label variable weekly_hours_workedly "usual hours worked per week last year "

(3,927,490 missing values generated)

(3,927,490 real changes made)

### Workers whose class of work in their longest job was private or government wage/salary employment

In [13]:
/* Workers whose class of work last year was private or government 
wage/salary employment. */ 

generate wageworker = classwly ==22 | classwly == 24 if inrange(year, 1964, 1975)
replace wageworker = classwly >= 22 & classwly <= 28 if inrange(year, 1976,2020)

generate selfemployed = classwly == 10 if inrange(year, 1964, 1975) 
replace selfemployed = classwly >=13 & classwly <= 14 if inrange(year, 1976,2020)

label value wageworker WAGEWORKER
label variable wageworker "class of work was private or gov't wage"

label value selfemployed SELFEMP
label variable selfemployed "class of work was selfemployed wage"

keep if wageworker==1 | selfemployed==1

(3,927,490 missing values generated)

(3,927,490 real changes made)

(3,927,490 missing values generated)

(3,927,490 real changes made)





(25,719 observations deleted)

### Full time, full-year workers
#### FTFY, defined as as those who work 35 hours per week, and forty-plus weeks in the prior year.

### Excluding allocated earnings

In [14]:
/* We exclude allocated earnings */ 

replace qinclong = inlist(qinclong, 1, 3)
gen allocated_earnings = 0 
replace allocated_earnings = 1 if qincwage == 1 & inrange(year, 1968, 1975)
replace allocated_earnings = 1 if qincwage >= 1 & qincwage <= 3 & inrange(year, 1976, 1987)
replace allocated_earnings = 1 if qinclong == 1 & inrange(year, 1988, 2020) & srcearn == 1
replace allocated_earnings = 1 if qoincwage == 1  & inrange(year, 1988, 2020) & srcearn == 1 
tab allocated_earnings
label variable allocated_earnings "allocated_earnings"

(1,628,182 real changes made)


(64,981 real changes made)

(153,862 real changes made)

(467,980 real changes made)

(9,886 real changes made)


allocated_e |
    arnings |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |  3,888,633       84.81       84.81
          1 |    696,709       15.19      100.00
------------+-----------------------------------
      Total |  4,585,342      100.00

### Top coding wages

In [15]:
/* We top code wage */

gen topcode_incwage = .
replace topcode_incwage = 0 if incwage != . & inrange(year, 1964,1987)
replace topcode_incwage = 1 if incwage == 99999 & inrange(year, 1964, 1975)
replace topcode_incwage = 1 if incwage == 50000 & inrange(year, 1976, 1981)
replace topcode_incwage = 1 if incwage == 75000 & inrange(year, 1982, 1984)
replace topcode_incwage = 1 if incwage == 99999 & inrange(year, 1985, 1987)
tab year topcode_incwage, missing

gen topcode_inclongj = .
replace topcode_inclongj = 0 if inclongj !=. & inrange(year, 1988,2020)
replace topcode_inclongj = 1 if inclongj >=99999  & inrange(year, 1988, 1995)
replace topcode_inclongj = 1 if inclongj >=150000 & inrange(year, 1996, 2002)
replace topcode_inclongj=1 if inclongj >=200000 & inrange(year, 2003, 2010)
replace topcode_inclongj=1 if inclongj >=250000 & inrange(year, 2011, 2014)
replace topcode_inclongj=1 if inclongj >=280000 & year==2015
replace topcode_inclongj=1 if inclongj >=300000 & inrange(year, 2016, 2018)
replace topcode_inclongj=1 if inclongj >=310000 & year==2019
replace topcode_inclongj=1 if inclongj >=360000 & year==2020
tab year topcode_inclongj, missing

gen topcode_oincwage = .
replace topcode_oincwage = 0 if oincwage !=. & inrange(year, 1988,2020)
replace topcode_oincwage = 1 if oincwage >=99999  & inrange(year, 1988, 1995)
replace topcode_oincwage = 1 if oincwage >=25000  & inrange(year, 1996, 2002)
replace topcode_oincwage = 1 if oincwage>=35000 & inrange(year, 2003, 2010)
replace topcode_oincwage = 1 if oincwage>=47000 & inrange(year, 2011, 2014)
replace topcode_oincwage = 1 if oincwage>=56000 & year==2015
replace topcode_oincwage = 1 if oincwage>=55000 & inrange(year, 2016, 2017)
replace topcode_oincwage = 1 if oincwage>=56000 & year==2018
replace topcode_oincwage = 1 if oincwage>=60000 & year==2019
replace topcode_oincwage = 1 if oincwage>=70000 & year==2020
tab year topcode_inclongj, missing

generate topcode= topcode_incwage if year<=1987
replace  topcode=1 if (topcode_inclongj==1 | topcode_oincwage==1) & year>=1988
replace  topcode=0 if (topcode_inclongj==0 & topcode_oincwage==0) & year>=1988
label variable topcode "Top Coded Values of Wages" // To rename variable labels
label define TOPCODE 0 "0-Not Top Coded" 1 "1-Top Coded" // To rename labels, so it's not just 1 and 0 
label value topcode TOPCODE
tab year topcode, missing

(4,585,342 missing values generated)

(1,614,373 real changes made)

(0 real changes made)

(3,112 real changes made)

(1,221 real changes made)

(984 real changes made)


    survey |         topcode_incwage
      year |         0          1          . |     Total
-----------+---------------------------------+----------
      1964 |    30,089          0          2 |    30,091
      1965 |    30,338          0          0 |    30,338
      1966 |    64,964          0          0 |    64,964
      1967 |    41,336          0          0 |    41,336
      1968 |    65,349          0          0 |    65,349
      1969 |    66,778          0          0 |    66,778
      1970 |    63,565          0          0 |    63,565
      1971 |    64,390          0          0 |    64,390
      1972 |    61,763          0          0 |    61,763
      1973 |    60,911          0          0 |    60,911
      1974 |    60,867          0          0 |    60,867
      1975 |    59,852          0          0 |    59,852
      1976 |    61,280        204          0 |    61,484
      1977 |    74,508        301          0 |    74,809
      1978 |    73,586        361          0 |    73,947
      1979 |    74,630        475          0 |    75,105
      1980 |    89,271        770          0 |    90,041
      1981 |    88,828      1,001          0 |    89,829
      1982 |    80,073        322          0 |    80,395
      1983 |    79,176        440          0 |    79,616
      1984 |    78,835        459          0 |    79,294
      1985 |    80,637        257          0 |    80,894
      1986 |    79,152        316          0 |    79,468
      1987 |    78,878        411          0 |    79,289
      1988 |         0          0     80,184 |    80,184
      1989 |         0          0     75,162 |    75,162
      1990 |         0          0     82,075 |    82,075
      1991 |         0          0     81,612 |    81,612
      1992 |         0          0     79,888 |    79,888
      1993 |         0          0     78,712 |    78,712
      1994 |         0          0     76,153 |    76,153
      1995 |         0          0     76,107 |    76,107
      1996 |         0          0     66,528 |    66,528
      1997 |         0          0     67,804 |    67,804
      1998 |         0          0     68,098 |    68,098
      1999 |         0          0     68,754 |    68,754
      2000 |         0          0     70,284 |    70,284
      2001 |         0          0    112,472 |   112,472
      2002 |         0          0    110,901 |   110,901
      2003 |         0          0    109,344 |   109,344
      2004 |         0          0    107,350 |   107,350
      2005 |         0          0    105,886 |   105,886
      2006 |         0          0    105,321 |   105,321
      2007 |         0          0    104,779 |   104,779
      2008 |         0          0    105,028 |   105,028
      2009 |         0          0    105,299 |   105,299
      2010 |         0          0    103,329 |   103,329
      2011 |         0          0     99,966 |    99,966
      2012 |         0          0     97,903 |    97,903
      2013 |         0          0     99,056 |    99,056
      2014 |         0          0     97,472 |    97,472
      2015 |         0          0     96,950 |    96,950
      2016 |         0          0     90,661 |    90,661
      2017 |         0          0     91,427 |    91,427
      2018 |         0          0     88,412 |    88,412
      2019 |         0          0     89,077 |    89,077
      2020 |         0          0     78,973 |    78,973
-----------+---------------------------------+----------
     Total | 1,609,056      5,317  2,970,969 | 4,585,342

(4,585,342 missing values generated)

(2,970,967 real changes made)

(7,312 real changes made)

(6,521 real changes made)

(9,454 real changes made)

(3,677 real changes made)

(791 real changes made)

(2,402 real changes made)

(701 real changes made)

(635 real changes made)


    survey |         topcode_inclongj
      year |         0          1          . |     Total
-----------+---------------------------------+----------
      1964 |         0          0     30,091 |    30,091
      1965 |         0          0     30,338 |    30,338
      1966 |         0          0     64,964 |    64,964
      1967 |         0          0     41,336 |    41,336
      1968 |         0          0     65,349 |    65,349
      1969 |         0          0     66,778 |    66,778
      1970 |         0          0     63,565 |    63,565
      1971 |         0          0     64,390 |    64,390
      1972 |         0          0     61,763 |    61,763
      1973 |         0          0     60,911 |    60,911
      1974 |         0          0     60,867 |    60,867
      1975 |         0          0     59,852 |    59,852
      1976 |         0          0     61,484 |    61,484
      1977 |         0          0     74,809 |    74,809
      1978 |         0          0     73,947 |    73,947
      1979 |         0          0     75,105 |    75,105
      1980 |         0          0     90,041 |    90,041
      1981 |         0          0     89,829 |    89,829
      1982 |         0          0     80,395 |    80,395
      1983 |         0          0     79,616 |    79,616
      1984 |         0          0     79,294 |    79,294
      1985 |         0          0     80,894 |    80,894
      1986 |         0          0     79,468 |    79,468
      1987 |         0          0     79,289 |    79,289
      1988 |    79,661        523          0 |    80,184
      1989 |    74,549        613          0 |    75,162
      1990 |    81,173        902          0 |    82,075
      1991 |    80,746        866          0 |    81,612
      1992 |    79,015        873          0 |    79,888
      1993 |    77,732        980          0 |    78,712
      1994 |    74,969      1,184          0 |    76,153
      1995 |    74,736      1,371          0 |    76,107
      1996 |    66,025        503          0 |    66,528
      1997 |    67,224        580          0 |    67,804
      1998 |    67,457        641          0 |    68,098
      1999 |    68,072        682          0 |    68,754
      2000 |    69,419        865          0 |    70,284
      2001 |   110,945      1,527          0 |   112,472
      2002 |   109,178      1,723          0 |   110,901
      2003 |   108,289      1,055          0 |   109,344
      2004 |   106,350      1,000          0 |   107,350
      2005 |   104,906        980          0 |   105,886
      2006 |   104,195      1,126          0 |   105,321
      2007 |   103,531      1,248          0 |   104,779
      2008 |   103,785      1,243          0 |   105,028
      2009 |   103,901      1,398          0 |   105,299
      2010 |   101,925      1,404          0 |   103,329
      2011 |    99,151        815          0 |    99,966
      2012 |    96,974        929          0 |    97,903
      2013 |    98,082        974          0 |    99,056
      2014 |    96,513        959          0 |    97,472
      2015 |    96,159        791          0 |    96,950
      2016 |    89,900        761          0 |    90,661
      2017 |    90,603        824          0 |    91,427
      2018 |    87,595        817          0 |    88,412
      2019 |    88,376        701          0 |    89,077
      2020 |    78,338        635          0 |    78,973
-----------+---------------------------------+----------
     Total | 2,939,474     31,493  1,614,375 | 4,585,342

(4,585,342 missing values generated)

(2,970,967 real changes made)

(61 real changes made)

(4,437 real changes made)

(4,169 real changes made)

(1,215 real changes made)

(283 real changes made)

(550 real changes made)

(260 real changes made)

(255 real changes made)

(227 real changes made)


    survey |         topcode_inclongj
      year |         0          1          . |     Total
-----------+---------------------------------+----------
      1964 |         0          0     30,091 |    30,091
      1965 |         0          0     30,338 |    30,338
      1966 |         0          0     64,964 |    64,964

      1967 |         0          0     41,336 |    41,336
      1968 |         0          0     65,349 |    65,349
      1969 |         0          0     66,778 |    66,778
      1970 |         0          0     63,565 |    63,565
      1971 |         0          0     64,390 |    64,390
      1972 |         0          0     61,763 |    61,763
      1973 |         0          0     60,911 |    60,911
      1974 |         0          0     60,867 |    60,867
      1975 |         0          0     59,852 |    59,852
      1976 |         0          0     61,484 |    61,484
      1977 |         0          0     74,809 |    74,809
      1978 |         0          0     73,947 |    73,947
      1979 |         0          0     75,105 |    75,105
      1980 |         0          0     90,041 |    90,041
      1981 |         0          0     89,829 |    89,829
      1982 |         0          0     80,395 |    80,395
      1983 |         0          0     79,616 |    79,616
      1984 |         0          0     79,294 |    79,294
      1985 |         0          0     80,894 |    80,894
      1986 |         0          0     79,468 |    79,468
      1987 |         0          0     79,289 |    79,289
      1988 |    79,661        523          0 |    80,184
      1989 |    74,549        613          0 |    75,162
      1990 |    81,173        902          0 |    82,075
      1991 |    80,746        866          0 |    81,612
      1992 |    79,015        873          0 |    79,888
      1993 |    77,732        980          0 |    78,712
      1994 |    74,969      1,184          0 |    76,153
      1995 |    74,736      1,371          0 |    76,107
      1996 |    66,025        503          0 |    66,528
      1997 |    67,224        580          0 |    67,804
      1998 |    67,457        641          0 |    68,098
      1999 |    68,072        682          0 |    68,754
      2000 |    69,419        865          0 |    70,284
      2001 |   110,945      1,527          0 |   112,472
      2002 |   109,178      1,723          0 |   110,901
      2003 |   108,289      1,055          0 |   109,344
      2004 |   106,350      1,000          0 |   107,350
      2005 |   104,906        980          0 |   105,886
      2006 |   104,195      1,126          0 |   105,321
      2007 |   103,531      1,248          0 |   104,779
      2008 |   103,785      1,243          0 |   105,028
      2009 |   103,901      1,398          0 |   105,299
      2010 |   101,925      1,404          0 |   103,329
      2011 |    99,151        815          0 |    99,966
      2012 |    96,974        929          0 |    97,903
      2013 |    98,082        974          0 |    99,056
      2014 |    96,513        959          0 |    97,472
      2015 |    96,159        791          0 |    96,950
      2016 |    89,900        761          0 |    90,661
      2017 |    90,603        824          0 |    91,427
      2018 |    87,595        817          0 |    88,412
      2019 |    88,376        701          0 |    89,077
      2020 |    78,338        635          0 |    78,973
-----------+---------------------------------+----------
     Total | 2,939,474     31,493  1,614,375 | 4,585,342

(2,970,969 missing values generated)

(42,378 real changes made)

(2,928,589 real changes made)





    survey |    Top Coded Values of Wages
      year | 0-Not Top  1-Top Cod          . |     Total
-----------+---------------------------------+----------
      1964 |    30,089          0          2 |    30,091
      1965 |    30,338          0          0 |    30,338
      1966 |    64,964          0          0 |    64,964
      1967 |    41,336          0          0 |    41,336
      1968 |    65,349          0          0 |    65,349
      1969 |    66,778          0          0 |    66,778
      1970 |    63,565          0          0 |    63,565
      1971 |    64,390          0          0 |    64,390
      1972 |    61,763          0          0 |    61,763
      1973 |    60,911          0          0 |    60,911
      1974 |    60,867          0          0 |    60,867
      1975 |    59,852          0          0 |    59,852
      1976 |    61,280        204          0 |    61,484
      1977 |    74,508        301          0 |    74,809
      1978 |    73,586        361          0 |    73,947
      1979 |    74,630        475          0 |    75,105
      1980 |    89,271        770          0 |    90,041
      1981 |    88,828      1,001          0 |    89,829
      1982 |    80,073        322          0 |    80,395
      1983 |    79,176        440          0 |    79,616
      1984 |    78,835        459          0 |    79,294
      1985 |    80,637        257          0 |    80,894
      1986 |    79,152        316          0 |    79,468
      1987 |    78,878        411          0 |    79,289
      1988 |    79,660        524          0 |    80,184
      1989 |    74,549        613          0 |    75,162
      1990 |    81,170        905          0 |    82,075
      1991 |    80,746        866          0 |    81,612
      1992 |    79,012        876          0 |    79,888
      1993 |    77,730        982          0 |    78,712
      1994 |    74,956      1,197          0 |    76,153
      1995 |    74,718      1,389          0 |    76,107
      1996 |    65,674        854          0 |    66,528
      1997 |    66,954        850          0 |    67,804
      1998 |    66,968      1,130          0 |    68,098
      1999 |    67,573      1,181          0 |    68,754
      2000 |    68,841      1,443          0 |    70,284
      2001 |   109,819      2,653          0 |   112,472
      2002 |   108,239      2,662          0 |   110,901
      2003 |   107,879      1,465          0 |   109,344
      2004 |   105,869      1,481          0 |   107,350
      2005 |   104,451      1,435          0 |   105,886
      2006 |   103,689      1,632          0 |   105,321
      2007 |   102,955      1,824          0 |   104,779
      2008 |   103,214      1,814          0 |   105,028
      2009 |   103,349      1,950          0 |   105,299
      2010 |   101,516      1,813          0 |   103,329
      2011 |    98,910      1,056          0 |    99,966
      2012 |    96,683      1,220          0 |    97,903
      2013 |    97,751      1,305          0 |    99,056
      2014 |    96,240      1,232          0 |    97,472
      2015 |    95,888      1,062          0 |    96,950
      2016 |    89,643      1,018          0 |    90,661
      2017 |    90,350      1,077          0 |    91,427
      2018 |    87,340      1,072          0 |    88,412
      2019 |    88,132        945          0 |    89,077
      2020 |    78,121        852          0 |    78,973
-----------+---------------------------------+----------
     Total | 4,537,645     47,695          2 | 4,585,342

In [16]:
/* Replace wage with 1.5* the top coded threshold if its topcoded */

replace incwage = 99999*1.5 if topcode_incwage == 1 & inrange(year, 1962, 1975) 
replace incwage = 50000*1.5 if topcode_incwage == 1 & inrange(year, 1976, 1981)
replace incwage = 75000*1.5 if topcode_incwage == 1 & inrange(year, 1982, 1984) 
replace incwage = 99999*1.5 if topcode_incwage == 1 & inrange(year, 1985, 1987)

replace inclongj = 99999* 1.5 if topcode_inclongj == 1 & inrange(year, 1988, 1995)
replace inclongj = 150000* 1.5 if topcode_inclongj == 1 & inrange(year, 1996, 2002)
replace inclongj = 200000* 1.5 if topcode_inclongj == 1 & inrange(year, 2003, 2010)
replace inclongj = 250000* 1.5 if topcode_inclongj == 1 & inrange(year, 2011, 2014)
replace inclongj = 280000* 1.5 if topcode_inclongj == 1 & year==2015
replace inclongj = 300000* 1.5 if topcode_inclongj == 1 & inrange(year, 2016, 2018)
replace inclongj = 310000* 1.5 if topcode_inclongj == 1 & year==2019
replace inclongj = 360000* 1.5 if topcode_inclongj == 1 & year==2020

replace oincwage = 99999* 1.5 if topcode_oincwage == 1 & inrange(year, 1988, 1995)
replace oincwage = 25000* 1.5 if topcode_oincwage == 1 & inrange(year, 1996, 2002)
replace oincwage = 35000* 1.5 if topcode_oincwage == 1 & inrange(year, 2003, 2010)
replace oincwage = 47000* 1.5 if topcode_oincwage == 1 & inrange(year, 2011, 2014)
replace oincwage = 56000* 1.5 if topcode_oincwage == 1 & year==2015
replace oincwage = 55000* 1.5 if topcode_oincwage == 1 & inrange(year, 2016, 2017)
replace oincwage = 56000* 1.5 if topcode_oincwage == 1 & year==2018
replace oincwage = 60000* 1.5 if topcode_oincwage == 1 & year==2019
replace oincwage = 70000* 1.5 if topcode_oincwage == 1 & year==2020

replace incwage= inclongj + oincwage if topcode_inclongj == 1 | topcode_oincwage == 1


/* We create top codes for weekly wages */

gen top_code_wwage = 0
replace top_code_wwage=1 if (incwage/wkswork1)>(99999*1.5/40) & inrange(year, 1964, 1975)
replace top_code_wwage=1 if (incwage/wkswork1)>(50000*1.5/40) & inrange(year, 1976, 1981)
replace top_code_wwage=1 if (incwage/wkswork1)>(75000*1.5/40) & inrange(year, 1982, 1984)
replace top_code_wwage=1 if (incwage/wkswork1)>(99999*1.5/40) & inrange(year, 1985, 1987)
replace top_code_wwage=1 if (incwage/wkswork1)>((99999+99999)*1.5/40) & inrange(year, 1988, 1995)
replace top_code_wwage=1 if (incwage/wkswork1)>((150000+25000)*1.5/40) & inrange(year, 1996, 2002)
replace top_code_wwage=1 if (incwage/wkswork1)>((200000+35000)*1.5/40) & inrange(year, 2003, 2010)
replace top_code_wwage=1 if (incwage/wkswork1)>((250000+47000)*1.5/40) & inrange(year, 2011, 2014)
replace top_code_wwage=1 if (incwage/wkswork1)>((280000+56000)*1.5/40) & year==2015
replace top_code_wwage=1 if (incwage/wkswork1)>((300000+55000)*1.5/40) & year>=2016 & year<=2017
replace top_code_wwage=1 if (incwage/wkswork1)>((300000+56000)*1.5/40) & year==2018
replace top_code_wwage=1 if (incwage/wkswork1)>((310000+60000)*1.5/40) & year==2019
replace top_code_wwage=1 if (incwage/wkswork1)>((360000+70000)*1.5/40) & year==2020

label variable top_code_wwage "Top Coded Values of Weekly Wages" // To rename variable labels
label define WWTOPCODE 0 "0-Not Top Coded" 1 "1-Top Coded" // To rename labels, so it's not just 1 and 0 
label value topcode WWTOPCODE
tab year top_code_wwage, missing

(0 real changes made)

(3,112 real changes made)

(1,221 real changes made)

variable incwage was long now double
(984 real changes made)

variable inclongj was long now double
(7,312 real changes made)

(6,521 real changes made)

(9,454 real changes made)

(3,677 real changes made)

(791 real changes made)

(2,331 real changes made)

(701 real changes made)

(631 real changes made)

variable oincwage was long now double
(61 real changes made)

(4,437 real changes made)

(4,169 real changes made)

(1,215 real changes made)

(280 real changes made)

(550 real changes made)

(260 real changes made)

(246 real changes made)

(227 real changes made)

(42,304 real changes made)


(9 real changes made)

(241 real changes made)

(73 real changes made)

(64 real changes made)

(103 real changes made)

(312 real changes made)

(445 real changes made)

(151 real changes made)

(36 real changes made)

(86 real changes made)

(35 real changes made)

(29 real changes made)

(31 real changes made)





           |  Top Coded Values of
    survey |     Weekly Wages
      year |         0          1 |     Total
-----------+----------------------+----------
      1964 |    30,089          2 |    30,091
      1965 |    30,336          2 |    30,338
      1966 |    64,964          0 |    64,964
      1967 |    41,335          1 |    41,336
      1968 |    65,349          0 |    65,349
      1969 |    66,776          2 |    66,778
      1970 |    63,565          0 |    63,565
      1971 |    64,390          0 |    64,390
      1972 |    61,763          0 |    61,763
      1973 |    60,910          1 |    60,911
      1974 |    60,866          1 |    60,867
      1975 |    59,852          0 |    59,852
      1976 |    61,465         19 |    61,484
      1977 |    74,775         34 |    74,809
      1978 |    73,909         38 |    73,947
      1979 |    75,065         40 |    75,105
      1980 |    89,984         57 |    90,041
      1981 |    89,776         53 |    89,829
      1982 |    80,373         22 |    80,395
      1983 |    79,595         21 |    79,616
      1984 |    79,264         30 |    79,294
      1985 |    80,879         15 |    80,894
      1986 |    79,446         22 |    79,468
      1987 |    79,262         27 |    79,289
      1988 |    80,171         13 |    80,184
      1989 |    75,153          9 |    75,162
      1990 |    82,058         17 |    82,075
      1991 |    81,599         13 |    81,612
      1992 |    79,879          9 |    79,888
      1993 |    78,707          5 |    78,712
      1994 |    76,134         19 |    76,153
      1995 |    76,089         18 |    76,107
      1996 |    66,490         38 |    66,528
      1997 |    67,774         30 |    67,804
      1998 |    68,063         35 |    68,098
      1999 |    68,708         46 |    68,754
      2000 |    70,246         38 |    70,284
      2001 |   112,417         55 |   112,472
      2002 |   110,831         70 |   110,901
      2003 |   109,291         53 |   109,344
      2004 |   107,299         51 |   107,350
      2005 |   105,847         39 |   105,886
      2006 |   105,274         47 |   105,321
      2007 |   104,733         46 |   104,779
      2008 |   104,957         71 |   105,028
      2009 |   105,225         74 |   105,299
      2010 |   103,265         64 |   103,329
      2011 |    99,940         26 |    99,966
      2012 |    97,864         39 |    97,903
      2013 |    99,017         39 |    99,056
      2014 |    97,425         47 |    97,472
      2015 |    96,914         36 |    96,950
      2016 |    90,620         41 |    90,661
      2017 |    91,382         45 |    91,427
      2018 |    88,377         35 |    88,412
      2019 |    89,048         29 |    89,077
      2020 |    78,942         31 |    78,973
-----------+----------------------+----------
     Total | 4,583,727      1,615 | 4,585,342

### Import PCE data

In [17]:
/* Import PCE data */

replace year = year-1
sort year
merge m:1 year using "../Data/pce", keep(match) nogenerate
replace year = year + 1 
describe
summarize

(4,585,342 real changes made)



    Result                           # of obs.
    -----------------------------------------
    not matched                             0
    matched                         4,585,342
    -----------------------------------------

(4,585,342 real changes made)


Contains data from ..\Data\cps.dta
  obs:     4,585,342
 vars:            82                          23 JUL 2021 03:54
--------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
--------------------------------------------------------------------------------
year            int     %8.0g                 survey year
serial          long    %12.0g                household serial number
month           byte    %8.0g      MONTH      month
cpsid           double  %12.0g                cpsid, household record
asecflag        byte    %8.0g      ASECFLAG   flag for asec
hflag           byte    %8.0g      HFLAG      flag for the 3/8 file 2014
asecwth         double  %12.0g                annual social and economic
                                                supplement household weight
region          byte    %8.0g      REGION     region and division
statefip        byte    %8.0g      STATEFIP   state (fips code)
marbasecidh     long    %12.0g                unique identifier for linking
                                                march basic to asec
pernum          byte    %8.0g                 person number in sample unit
cpsidp          double  %12.0g                cpsid, person record
asecwt          double  %12.0g                annual social and economic
                                                supplement weight
age             byte    %8.0g      AGE        age
sex             byte    %8.0g      SEX        sex
race            int     %8.0g      RACE       race
popstat         byte    %8.0g      POPSTAT    adult civilian, armed forces, or
                                                child
empstat         byte    %8.0g      EMPSTAT    employment status
occ             int     %8.0g                 occupation
classwkr        byte    %8.0g      CLASSWKR   class of worker
ahrsworkt       float   %8.0g                 hours worked last week
wkstat          byte    %8.0g      WKSTAT     full or part time status
educ            int     %8.0g      EDUC       educational attainment recode
higrade         int     %8.0g      HIGRADE    highest grade of school
marbasecidp     long    %12.0g                unique identifier for linking
                                                march basic to asec
asecoverp       byte    %8.0g      ASECOVERP
                                              identifier for asec oversample -
                                                person
occly           int     %8.0g                 occupation last year
indly           int     %8.0g                 industry last year
classwly        byte    %8.0g      CLASSWLY   class of worker last year
wkswork1        float   %8.0g                 weeks worked last year
wkswork2        byte    %8.0g      WKSWORK2   weeks worked last year,
                                                intervalled
uhrsworkly      int     %8.0g                 usual hours worked per week (last
                                                yr)
fullpart        byte    %8.0g      FULLPART   worked full or part time last year
qclasswl        byte    %8.0g      QCLASSWL   data quality flag for classwly
quhrsworkly     byte    %8.0g      QUHRSWORKLY
                                              data quality flag for uhrsworkly
qwkswork        byte    %8.0g      QWKSWORK   data quality flag for wkswork1 and
                                                wkswork2
incwage         double  %12.0g                wage and salary income
incbus          long    %12.0g                non-farm business income
incfarm         long    %12.0g                farm income
inclongj        double  %12.0g                earnings from longest job
oincwage        double  %12.0g                earnings from other work included
                                                wage and salary earnings
srcearn         byte    %8.0g      SRCEARN    source of earnings from longest
                                                job
qinclong        byte    %8.0g      QINCLONG   data quality flag for inclongj
                                                [general version]
qinclongd       byte    %8.0g      QINCLONGD
                                              data quality flag for inclongj
                                                [detailed version]
qoincwage       byte    %8.0g      QOINCWAGE
                                              data quality flag for oincwage
                                                [general version]
qoincwaged      byte    %8.0g      QOINCWAGED
                                              data quality flag for oincwage
                                                [detailed version]
qsrcearn        byte    %8.0g      QSRCEARN   data quality flag for srcearn
                                                [general version]
qsrcearnd       byte    %8.0g      QSRCEARND
                                              data quality flag for srcearn
                                                [detailed version]
qincwage        byte    %8.0g      QINCWAGE   data quality flag for incwage
schiply         byte    %8.0g      SCHIPLY    state children's health insurance
                                                program coverage last year
tincfarm        byte    %8.0g      TINCFARM   topcode flag for incfarm
tinclongj       byte    %8.0g      TINCLONGJ
                                              topcode flag for inclongj
toincwage       byte    %8.0g      TOINCWAGE
                                              topcode flag for oincwage
fulltime        float   %9.0g      FULLTIME   usually worked 35+ hours per week
                                                last year
fullyear        float   %9.0g      FULYEAR    workers~40-plus weeks worked
northeast       float   %9.0g
midwest         float   %9.0g
south           float   %9.0g
west            float   %9.0g
black           float   %9.0g      BLACK      black race
white           float   %9.0g      WHITE      white race
other_race      float   %9.0g      OTHER_RACE
                                              other race
female          float   %9.0g      FEMALE     female
grade           float   %9.0g      GRADE      highest grade completed
experience      float   %9.0g      EXPERIENCE
                                              experience
schooling1      float   %9.0g
schooling2      float   %9.0g
schooling3      float   %9.0g
schooling4      float   %9.0g
schooling5      float   %9.0g
schooling       float   %9.0g      SCHOOLING

sex_fullpart_~r float   %16.0g     sex_fullpart_year
                                              group(female fullpart year)
weekly_hours_~y float   %9.0g      HOURSWLY   usual hours worked per week last
                                                year
wageworker      float   %9.0g      WAGEWORKER
                                              class of work was private or gov't
                                                wage
selfemployed    float   %9.0g      SELFEMP    class of work was selfemployed
                                                wage
allocated_ear~s float   %9.0g                 allocated_earnings
topcode_incwage float   %9.0g
topcode_inclo~j float   %9.0g
topcode_oincw~e float   %9.0g
topcode         float   %15.0g     WWTOPCODE
                                              Top Coded Values of Wages
top_code_wwage  float   %9.0g                 Top Coded Values of Weekly Wages
pce             double  %10.0g                pce
--------------------------------------------------------------------------------

Sorted by:
     Note: Dataset has changed since last saved.


    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
        year |  4,585,342     1994.89    15.74444       1964       2020
      serial |  4,585,342    39386.42    25552.66          1      99986
       month |  4,585,342           3           0          3          3
       cpsid |  3,840,329    1.59e+13    8.08e+12          0   2.02e+13
    asecflag |  3,915,138           1           0          1          1
-------------+---------------------------------------------------------
       hflag |     97,472    .3019636    .4591119          0          1
     asecwth |  4,585,342    1582.467    972.7604          0   28722.98
      region |  4,585,222    27.38152    10.78493         11         42
    statefip |  4,585,342    30.45046    18.66261          1         99
 marbasecidh |  3,840,329    9.23e+08    4.56e+08     168591   1.20e+09
-------------+---------------------------------------------------------
      pernum |  4,585,342    1.690249     .960033          1         22
      cpsidp |  3,840,329    1.59e+13    8.04e+12          0   2.02e+13
      asecwt |  4,585,342    1618.406    1014.499          0   44423.83
         age |  4,585,342    39.72119    14.02391         17         90
         sex |  4,585,342    1.461382    .4985065          1          2
-------------+---------------------------------------------------------
        race |  4,585,342    138.6867    126.5809        100        830
     popstat |  4,585,342           1           0          1          1
     empstat |  4,585,342    12.54338    6.760536         10         36
         occ |  4,585,342    1776.027    2436.839          0       9840
    classwkr |  4,585,333    19.35233    6.434501          0         29
-------------+---------------------------------------------------------
   ahrsworkt |  3,984,092    39.12486     13.4269          0         98
      wkstat |  3,915,138    23.58642    25.17834         10         99
        educ |  4,585,342    80.67887    25.39091          2        125
     higrade |  1,933,408    152.2883    30.20843         10        210
 marbasecidp |  3,840,329    9.23e+08    4.57e+08     168592   1.20e+09
-------------+---------------------------------------------------------
   asecoverp |  3,840,329    .2023288    .4017361          0          1
       occly |  4,585,342    1887.754    2475.034          0       9840
       indly |  4,585,342    2735.949    3257.408          1       9890
    classwly |  4,585,342    21.80065    3.494255         10         28
    wkswork1 |  4,585,342    45.07486    13.27524          1         52
-------------+---------------------------------------------------------
    wkswork2 |  4,585,342    5.056915    1.651239          1          6
  uhrsworkly |  3,915,138    38.73967    12.18561          1         98
    fullpart |  4,585,340    1.200303    .4002271          1          2
    qclasswl |  2,970,967    .0052761    .0724446          0          1
 quhrsworkly |  3,449,923    .0233339    .1509616          0          1
-------------+---------------------------------------------------------
    qwkswork |  2,970,967    .0182462    .1338407          0          1
     incwage |  4,585,340    25480.49    75428.54          0   1.00e+08
      incbus |  4,585,342    1805.029    140691.4     -19998   1.00e+08
     incfarm |  4,585,342    334.0396    123627.5     -19998   1.00e+08
    inclongj |  2,970,967    34998.67     41461.5      -9999     540000
-------------+---------------------------------------------------------
    oincwage |  2,970,967    981.7484    4821.469          0   149998.5
     srcearn |  2,970,967    1.075879    .2895314          1          4
    qinclong |  4,585,342    .1144418    .3183472          0          1
   qinclongd |  2,970,967    1.890761    4.212729          0         30
   qoincwage |  2,970,967    .0146807    .1202715          0          1
-------------+---------------------------------------------------------
  qoincwaged |  2,970,967    .1504419    1.239731          0         16
    qsrcearn |  2,970,967    .1787196    .3831174          0          1
   qsrcearnd |  2,970,967    1.847264    3.994411          0         16
    qincwage |  1,447,646    .1993782    .5472072          0          3
     schiply |  1,999,606    .0282876     .171452          0          2
-------------+---------------------------------------------------------
    tincfarm |    929,897    .0003108    .0176264          0          1
   tinclongj |    929,897    .0079966    .0890654          0          1
   toincwage |    929,897    .0028573    .0533774          0          1
    fulltime |  4,585,342    .7996967    .4002273          0          1
    fullyear |  4,585,342    .8011498    .3991351          0          1
-------------+---------------------------------------------------------
   northeast |  4,585,342    .2106898    .4077986          0          1
     midwest |  4,585,342    .2429038    .4288375          0          1
       south |  4,585,342    .3041978    .4600669          0          1
        west |  4,585,342    .2421824    .4284041          0          1
       black |  4,585,342    .0956003    .2940423          0          1
-------------+---------------------------------------------------------
       white |  4,585,342    .8495068    .3575543          0          1
  other_race |  4,585,342     .054893    .2277712          0          1
      female |  4,585,342    .4613817    .4985065          0          1
       grade |  4,585,342    12.98217    2.853135          0         18
  experience |  4,585,342    19.69479      14.191          0         83
-------------+---------------------------------------------------------
  schooling1 |  4,585,342    .1724774    .3777949          0          1
  schooling2 |  4,585,342    .3257351    .4686489          0          1
  schooling3 |  4,585,342    .2575492    .4372844          0          1
  schooling4 |  4,585,342    .1640916    .3703587          0          1
  schooling5 |  4,585,342    .0801467    .2715202          0          1
-------------+---------------------------------------------------------
   schooling |  4,585,342    2.653695    1.174903          1          5
sex_fullpa~r |    670,204    18.84139    14.07254          1         48
weekly_hou~y |  4,585,342    38.79462     12.3571          0         98
  wageworker |  4,585,342     .899524    .3006337          0          1
selfemployed |  4,585,342     .100476    .3006337          0          1
-------------+---------------------------------------------------------
allocated_~s |  4,585,342    .1519426    .3589653          0          1
topcode_in~e |  1,614,373    .0032935    .0572948          0          1
topcode_in~j |  2,970,967    .0106003    .1024104          0          1
topcode_oi~e |  2,970,967    .0038563    .0619794          0          1
     topcode |  4,585,340    .0104016    .1014566          0          1
-------------+---------------------------------------------------------
top_code_w~e |  4,585,342    .0003522    .0187639          0          1
         pce |  4,585,342    66.89138    28.62097      17.04    109.851

In [18]:
/* We create weekly wages */

gen weekly_wage = incwage/wkswork1 if wageworker == 1 & incwage>0 
label value weekly_wage WEEKLY_WAGE
label variable weekly_wage "weekly wage of wage and salary workers"

(470,628 missing values generated)

In [19]:
/*generate deflated wages */

summarize pce if inlist(year, 2001), meanonly // 2001 survey year = 2000 pce year
scalar pce2000=r(mean)
scalar list pce2000

summarize pce if inlist(year, 1983), meanonly // 1983 survey year = 1982 pce year
scalar pce1982=r(mean)
scalar list pce1982


generate real_weekly_wage = ((pce2000*weekly_wage)/pce) // deflated to 2000 year dollars
label variable real_weekly_wage "real weekly wage in 2000$, using PCE deflator"

/* Generate bottom weekley wages in 1982 dollars */

generate weekly_wage_less_than_sixtyseven = ((pce2000*weekly_wage)/pce) < ((67*78.235)/47.456) 
label variable weekly_wage_less_than_sixtyseven "bottom weekly wages in 1982$, using PCE deflator"

   pce2000 =     78.235



   pce1982 =     47.456

(470,628 missing values generated)

In [20]:
/* Keep workers ages 16 to 64 */

keep if age>=17 & age<=65 

/* We drop 3/8 file in order to better compare income estimates from ASEC 2014 and prior */ 

drop if hflag == 1

(168,378 observations deleted)

(27,945 observations deleted)

In [21]:
save "../Data/cleaned_cps", replace

(note: file ../Data/cleaned_cps.dta not found)
file ../Data/cleaned_cps.dta saved